html{
    background-color: black;
    color: white;
}

header{
    padding: 1rem;
    border: solid white 2px;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 2rem;
    transition: .4s;
}

nav a span {
    font-size: 2rem;
    color: white;
    padding: 1.5rem;
}

nav a :hover{
    background-color: white;
    color: black;
}

main {
    background-color: rgb(128, 128, 128);
}

main {
    padding: 1rem;

}

main h2{
    text-align: center;
}